@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Work Sans", sans-serif;
}

.btn-primary{
    font-family: "Work Sans", sans-serif;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 48px;
    background-color: rgb(255, 66, 165);
    border: none;
    padding: 21px 40px;
    cursor: pointer;
     
}


/* header section styles */
.navbar-container{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 37px 0 37px 0;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar-content{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    img{
        width: 86.03px;
        height: 40.02px;
    }
    h3{
        font-size: 2.8125rem;
        font-weight: 700;
        span{
            color: rgb(255, 66, 165);
        }
    }
}

.navigation{
    display: flex;
    align-items: center;
    gap: 32px;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: rgb(60, 53, 79);
        font-size: 1.125rem;
        font-weight: 500;
    }
}

.follow-btn{
    display: flex;
    align-items: center;
    color: rgb(60, 53, 79);
    font-family: "Work Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.1);
    cursor: pointer;
    i{
        color: rgb(246, 28, 13);
        font-size: 33.92px;
        margin-left: 24px;
        margin-right: 16px;
    }
}

.banner-container{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
}

.banner-content{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .buttons{
        margin-top: 40px;
        display: flex;
        gap: 24px;
    }
}

.banner-text-content{
    h4{
        color: rgb(11, 2, 35);
        font-size: 3rem;
        font-weight: 600;
    }
    h1{
        background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
        font-size: 5.9375rem;
        font-weight: 800;
        color: transparent;
        background-clip: text;
    }
}

.taglines{
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 24px;
}

.tagline{
    display: flex;
    gap: 12px;
    align-items: center;
    p{
        color: rgb(83, 76, 100);
        font-size: 1.25rem;
        font-weight: 500; 
    }
    img{
        width: 20px;
        height: 20px;
    }
    i{
        font-size: 1.125rem;
        color:  rgb(255, 66, 165);
    }
}

.btn-secondary{
    background-color: rgb(78, 197, 247);
}


/* we are gamer section styles */
.gamer-container{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background-color: rgb(255, 249, 252);
    padding: 56px 0;
}

.gamer-content{       
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gamer-text-content{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 24px;
    h3{
        background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
        color: transparent;
        background-clip: text;
        font-size: 3rem;
        font-weight: 700; 
    }
    p{
        color: rgb(83, 76, 100);
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 30px;
        text-align: right;
    }
    h5{
        color: rgb(83, 76, 100);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 45px;
        text-align: right;
        span{
            font-size: 2rem;
            font-weight: 700;
        }
    }
}


/* online games section styles */
.online-games-container{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.online-games-text-content{
    h3{
        color: rgb(11, 2, 35);
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        span{
            background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
            color: transparent;
            background-clip: text;
        }
    }
    p{
        color: rgb(83, 76, 100);
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 30px;
        margin-top: 16px;
        text-align: center;
    }
}

.online-games-card-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.online-games-card>p{
    color: rgb(83, 76, 100);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 30px;
    margin-top: 24px;
}

.card-3{
    position: relative;
}

.overlay{
    width: 333px;
    height: 392px;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    border-radius: 16px;
    /* margin: 16px; */
    top: 0.75%;
    left: 1.75%;
}

.watch-now{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 33%;
    left: 35%;
    i{
        font-size: 3rem;
        color: white;
    }
    p{
        font-size: 1.25rem;
        font-weight: 600;
        color:  rgb(255, 66, 165); 
    }

}


/* play instantly section styles */
.play-instant-container{
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 265px;
}

.play-instant-text-content{
    margin-left: 187px;
    h3{
        color: rgb(11, 2, 35);
        font-size: 3rem;
        font-weight: 700;
        line-height: 60px;
        text-align: right; 
        background: linear-gradient(180.00deg, rgb(249, 72, 178),rgb(135, 88, 241));
        background-clip: text;     
        span{
            color: transparent;
        }
    }
    p{
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 30px;
        text-align: right;
        margin-top: 24px;
    }
}

.play-instant-image-content{
    position: relative;
}

#angel{
    position: absolute;
    right: 73%;
    top: 55%;
}